@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
    background: rgb(89, 181, 106);
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    align-items: center;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

    header .logo img {
        max-width: 150px;
        margin-right: 150px;
    }

    header ul {
        display: flex;
    }

        header ul li {
            list-style: none;
            margin: 0 10px;
        }

            header ul li a {
                text-decoration: none;
                color: white;
                font-weight: 500;
            }

                header ul li a:hover,
                header ul li a:hover {
                    color: lightblue;
                }

.app {
    position: absolute;
    right: 100px;
    display: flex;
    justify-content: center;
    background: white;
    color: green;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}



    .app ion-icon {
        margin-right: 10px;
        font-size: 1.4em;
    }

.row{
    margin-left: 15% ;
    margin-top: 350px;
    display: flex;

}
.box{
    margin-bottom: 20%;
    display: inline-flex;
    max-width: 800px;
}
.text{
  margin-top:35% ;  
 vertical-align: center;
}


.imageBx
{
    text-align: center;
    width: 25%;

}

.imageBx img {
    max-width: 300px;
    margin-left: 300px;
    display: block;
    position: relative;
}

