@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
    background: rgb(89, 181, 106);
    min-height: 100%;
    padding: 0 100px;
    display: flex;
    align-items: center;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom:300px ;
}

    header .logo img {
        max-width: 150px;
        margin-right: 150px;
    }

    header ul {
        display: flex;
    }

        header ul li {
            list-style: none;
            margin: 0 10px;
        }

            header ul li a {
                text-decoration: none;
                color: white;
                font-weight: 500;
            }

                header ul li a:hover,
                header ul li a:hover {
                    color: lightblue;
                }

.app {
    position: absolute;
    right: 100px;
    display: flex;
    justify-content: center;
    background: white;
    color: green;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

    .app:hover {
        background: lightblue;
        color: white;
    }

    .app ion-icon {
        margin-right: 10px;
        font-size: 1.4em;
    }


.contentBx {
    width: 100%;
    display: inline-grid;
    align-items: center;
    /* justify-content: space-between; */
}

    .contentBx .text {
        max-width: 800px;
    }

        .contentBx .text h2 {
            font-size: 6em;
            color: white;
        }

        .contentBx .text p {
            font-size: 1.1em;
            color: white;
            line-height: 1.8em;
        }

        .contentBx .text h4 {
            margin-top: 20px;
            margin-bottom: 20px;
            font-weight: 700;
            color: lightblue;
        }
.row{
    margin-top: 200px;
    display: inline-flex;
    flex-basis: 50% ;
}        

.imageBx img {
    display: inline-grid;
    
}

.card{
    width: 300px;
    height: 300px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 30px 50px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.card h5
{
    color: white;
    justify-content: right;
}

.card p
{
font-weight: bold;
color: white;
}


/* MUDAR OS URLS PARA AS IMAGENS*/
.card1 {
    background-image: url(media/back_poluicao.jpg);
}
.card2 {
    background-image: url(media/back_efeito.png);
}
.card3 {
    background-image: url(media/back_aumento.jpg);
}
.card4 {
    background-image: url(media/back_homem.jpg);
}

.card:hover{
    transform: translateY(-10px);
}
