@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main {
    position: relative;
    background: rgb(89, 181, 106);
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    align-items: center;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

    header .logo img {
        max-width: 150px;
        margin-right: 150px;
    }

    header ul {
        display: flex;
    }

        header ul li {
            list-style: none;
            margin: 0 10px;
        }

            header ul li a {
                text-decoration: none;
                color: white;
                font-weight: 500;
            }

                header ul li a:hover,
                header ul li a:hover {
                    color: lightblue;
                }

.app {
    position: absolute;
    right: 100px;
    display: flex;
    justify-content: center;
    background: white;
    color: green;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

    .app:hover {
        background: lightblue;
        color: white;
    }

    .app ion-icon {
        margin-right: 10px;
        font-size: 1.4em;
    }


.contentBx {
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

    .contentBx .text {
        max-width: 800px;
    }

        .contentBx .text h2 {
            font-size: 6em;
            color: white;
        }

        .contentBx .text p {
            font-size: 1.1em;
            color: white;
            line-height: 1.8em;
        }

        .contentBx .text h4 {
            margin-top: 20px;
            margin-bottom: 20px;
            font-weight: 700;
            color: lightblue;
        }

.btn {
    background: white;
    color: rgb(89, 181, 106);
    display: inline-flex;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1.1em;
    margin: 5px 20px 5px 0;
    border-radius: 5px;
}

    .btn:hover {
        background: lightblue;
    }

    .btn ion-icon {
        margin-right: 10px;
        font-size: 1.4em;
    }

/*.imageBx img {
    max-width: 300px;
    margin-left: 300px;
    display: none;
}

    .imageBx img.active {
        display: block;
        max-width: 600px;
    }
    */